html, body {
  margin:0;
  text-align:center;
  background:#FFF;
}

ul {
  padding:0;
  margin:0;
  list-style:none;
}

img {
  width: 100%;
  height: 75%
  background-color: #FCFCFC;
}

.spinner {
  height:16px;
  width:16px;
  margin:20px 0px;
}
